@{
    ViewBag.Title = "home";
}

<html>
<head runat="server">
    <link type="text/css" href="Content/master.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock&display=swap" rel="stylesheet">
    <script src="Scripts/javasCriptPP2.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo center">
                <img src="imagens/QZ.png" width="37%">
            </a>
            <ul class="left hide-on-med-and-down">
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="rankings.html">Rankings</a></li>
                <li><a href="jogar.html">Jogar</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn" href="login.html" id="btnHead">Logar</a></li>
                <li><a class="waves-effect waves-light btn" href="cadastro.html" id="btnHead">Cadastrar</a></li>
            </ul>
        </div>
    </nav>

    <div id="containerCard">

        <p id="tituloCard">Jogos</p>

        <div class="card">

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="imagens/overIcon.jpg">
            </div>

            <div class="card-content">
                <span class="card-title activator">Overwatch<i class="material-icons right">more_vert</i></span>

                <p>
                    <a href="#">Fazer quiz</a>
                    <a href="jogar.html" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                </p>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                <p>Mais um jogo da gigante Blizzard. Este fps 6x6 ganhador do GOTY é baseado em personagens com aparências e habilidades únicas, qual o seu favorito?</p>
            </div>

        </div>

        <div class="card">

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="imagens/r6Icon.jpg">
            </div>

            <div class="card-content">
                <span class="card-title activator">Rainbow six<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="#">Fazer quiz</a>

                    <a href="jogar.html" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                </p>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                <p>Este fps é mais um jogo da Ubisoft. O fps mais tático já feito na história é baseado em personbagens de diferentes polícias de diferentes países. Escolha o seu e vá para a batalha.</p>
            </div>

        </div>

    </div>

    <div id="containerInfo">

        <p id="tituloInfo">Novidades</p>
        <p id="subTitulo">Jogos que estão por vir</p>
        <table>
            <tr>
                <td>
                    <div class="card">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imagens/enterTheGungeonIcon.jpg">
                        </div>

                        <div class="card-content">
                            <span class="card-title activator">Enter the gungeon<i class="material-icons right">more_vert</i></span>
                            <p>
                                <a href="#">Quiz em andamento</a>
                                <a href="jogar.html" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                                    <i class="material-icons">create</i>
                                </a>
                            </p>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                            <p>Neste jogo roguelike não tão conhecido você controla personagens com armas e habilidades únicas entrando em "gungeons", dungeons onde tudo é baseado em armas, tentando derrotar todos os inimigos e chefes enquanto procura por novas armas.</p>
                        </div>

                    </div>
                </td>
                <td>
                    <div class="card">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imagens/apexLegendsIcon.jpg">
                        </div>

                        <div class="card-content">
                            <span class="card-title activator">Apex Legends<i class="material-icons right">more_vert</i></span>
                            <p>
                                <a href="#">Quiz em andamento</a>
                                <a href="jogar.html" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                                    <i class="material-icons">create</i>
                                </a>
                            </p>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                            <p>O jogo mais famoso do início de 2019. Este battle royale da respawn entertainment é baseado em 20 trios (60 pessoas) cada um utilizando um personagem que possui habilidades únicas. Escolha o seu personagem, pegue sua arma e vá para a batalha.</p>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imagens/cupheadIcon.jpg">
                        </div>

                        <div class="card-content">
                            <span class="card-title activator">Cuphead<i class="material-icons right">more_vert</i></span>
                            <p>
                                <a href="#">Quiz em andamento</a>
                                <a href="jogar.html" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                                    <i class="material-icons">create</i>
                                </a>
                            </p>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                            <p>
                                Este indie vencedor do prêmio de "Melhor indie 2017" e "Melhor direção de arte 2017" conta a história de 2 irmãos xícara que
                                vendem suas almas para o diabo e para recuperá-las eles devem enfrentar dezenas de chefes. Não perca este jogo com uma arte, trilha sonora e gameplay incríveis.
                            </p>
                        </div>

                    </div>
                </td>
                <td>
                    <div class="card">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imagens/bo2Icon.jpg">
                        </div>

                        <div class="card-content">
                            <span class="card-title activator">Call of Duty: Black Ops 2<i class="material-icons right">more_vert</i></span>
                            <p>
                                <a href="#">Quiz em andamento</a>
                                <a href="jogar.html" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                                    <i class="material-icons">create</i>
                                </a>
                            </p>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                            <p>
                                Facilmente o jogo mais aclamado da franquia Call of Duty, o Black Ops 2 é um fps que se passa na era moderna. Desenvolvido
                                pela Treyarch este jogo foi um sucesso enorme e para muitos é o melhor de todos os COD's.
                            </p>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Quyzou</h5>
                    <p class="grey-text text-lighten-4">Este lindo site de quizes sobre video-jogos <br> foi feito por Felipe Carisio e João Augusto.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Páginas</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="home.html">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="rankings.html">Rankings</a></li>
                        <li><a class="grey-text text-lighten-3" href="jogar.html">Jogar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Felipe Carisio e Johnssons
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>
</body>
</html>