<center>
    <p id="tituloLogECadastro">Logar</p>
</center>

<form action="/Login/Autentica" method="post">

    <div id="login">

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate" required>
                        <label for="email">E-mail</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="senha" type="password" class="validate" required>
                        <label for="senha">Senha</label>
                    </div>
                </div>
            </div>
        </div>

        <button class="waves-effect waves-light btn" href="login.html" type="submit" id="btnFimLogin">Logar</button>

    </div>

</form>
