<center>
    <p id="tituloLogECadastro">Logar</p>
</center>

<div id="login">

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" required>
                    <label for="email">E-mail</label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="senha" type="password" class="validate" required>
                    <label for="senha">Senha</label>
                </div>
            </div>
        </form>
    </div>

    <btn class="waves-effect waves-light btn" href="login.html" id="btnFimLogin">Logar</btn>

</div>