<center>
    <p id="tituloLogECadastro">Logar</p>
</center>

@{
    if (Session["usuarioLogado"] == null)
    {
        <center>
            <p id="subTituloLogECadastro">Se você continuar nessa página o login não foi realizado</p>
            <p id="subTituloLogECadastro">Se você não possui cadastro clique <a href="~/Cadastro/Index">aqui.</a></p>
        </center>
        
        <form action="/Login/Autentica" method="post">

            <div id="login">

                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="nome" type="text" class="validate" name="u.Nome" required>
                                <label for="nome">Nome</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="senha" type="password" name="u.Senha" class="validate" required>
                                <label for="senha">Senha</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="waves-effect waves-light btn" href="login.html" type="submit" id="btnFimLogin">Logar</button>

            </div>

        </form>
    }
    else
    {
        pratica2.Models.usuario usu = (pratica2.Models.usuario)Session["usuarioLogado"];
        
        <center>
            <div id="containerLogoff" class="container">
                <form action="/Login/Desloga" method="post">
                    <div class="row">
                        <div class="col s12">
                            <p id="subTituloLogECadastro">Você tem @usu.Pontos pontos atualmente.</p>
                            <p id="subTituloLogECadastro">Deseja fazer logoff?</p>
                            <br />
                            <div class="input-field inline">
                                <button class="waves-effect waves-light btn" href="login.html" type="submit" id="btnFimLogin">Logoff</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </center>
    }
}
