@{
    ViewBag.Title = "cadastro";
}

<html>
<head runat="server">
    <link type="text/css" href="Content/master.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock&display=swap" rel="stylesheet">
    <script src="Scripts/javasCriptPP2.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="home.html" class="brand-logo center">
                <img src="imagens/QZ.png" width="37%">
            </a>
            <ul class="left hide-on-med-and-down">
                <li><a href="home.html">Home</a></li>
                <li><a href="rankings.html">Rankings</a></li>
                <li><a href="jogar.html">Jogar</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn" href="login.html" id="btnHead">Logar</a></li>
                <li><a class="waves-effect waves-light btn" href="cadastro.html" id="btnHead">Cadastrar</a></li>
            </ul>
        </div>
    </nav>

    <center>
        <p id="tituloLogECadastro">Cadastrar</p>
    </center>

    <center>

        <div id="cadastro">

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="primeiro_nome" type="text" class="validate" name="u.Nome" required>
                            <label for="primeiro_nome">Primeiro nome</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate" name="u.Email" required>
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="confiEmail" type="email" class="validate" name="u.ConfEmail" required>
                            <label for="confiEmail">Confirmar e-mail</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="senha" type="password" class="validate" name="u.Senha" required>
                            <label for="senha">Senha</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="confiSenha" type="password" class="validate" name="u.ConfSenha" required>
                            <label for="confiSenha">Confirmar senha</label>
                        </div>
                    </div>
                </form>
            </div>

            <btn class="waves-effect waves-light btn" href="login.html" id="btnFimCadastro">Finalizar</btn>

        </div>

    </center>

    <br>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Quyzou</h5>
                    <p class="grey-text text-lighten-4">Este lindo site de quizes sobre video-jogos <br> foi feito por Felipe Carisio e João Augusto.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Páginas</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="home.html">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="rankings.html">Rankings</a></li>
                        <li><a class="grey-text text-lighten-3" href="jogar.html">Jogar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Felipe Carisio e Johnssons
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>

</body>
</html>