<div id="containerCardJogar">

    <p id="tituloCard">Jogos</p>

    <div class="card">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/overIcon.jpg">
        </div>

        <div class="card-content">
            <span class="card-title activator">Overwatch<i class="material-icons right">more_vert</i></span>

            <p>
                <a href="~/Jogar/Index">Fazer quiz</a>
                <a href="~/Jogar/Index" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
            <p>Mais um jogo da gigante Blizzard. Este fps 6x6 ganhador do GOTY é baseado em personagens com aparências e habilidades únicas, qual o seu favorito?</p>
        </div>

    </div>

    <div class="card">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/r6Icon.jpg">
        </div>

        <div class="card-content">
            <span class="card-title activator">Rainbow six<i class="material-icons right">more_vert</i></span>
            <p>
                <a href="~/Jogar/Index">Fazer quiz</a>
                <a href="~/Jogar/Index" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
            <p>Este fps é mais um jogo da Ubisoft. O fps mais tático já feito na história é baseado em personbagens de diferentes polícias de diferentes países. Escolha o seu e vá para a batalha.</p>
        </div>

    </div>

</div>

<div id="containerJogar">

    <p id="tituloInfo">QUIZ</p>
    <p id="subTituloJogar">Selecione um dos jogos ao lado</p>

    <div id="pergunta">
        <input type="radio" name="resposta1" value="correta">A<br>
        <input type="radio" name="resposta1" value="errada">B<br>
        <input type="radio" name="resposta1" value="errada">C<br>
        <input type="radio" name="resposta1" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta2" value="correta">A<br>
        <input type="radio" name="resposta2" value="errada">B<br>
        <input type="radio" name="resposta2" value="errada">C<br>
        <input type="radio" name="resposta2" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta3" value="correta">A<br>
        <input type="radio" name="resposta3" value="errada">B<br>
        <input type="radio" name="resposta3" value="errada">C<br>
        <input type="radio" name="resposta3" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta4" value="correta">A<br>
        <input type="radio" name="resposta4" value="errada">B<br>
        <input type="radio" name="resposta4" value="errada">C<br>
        <input type="radio" name="resposta4" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta5" value="correta">A<br>
        <input type="radio" name="resposta5" value="errada">B<br>
        <input type="radio" name="resposta5" value="errada">C<br>
        <input type="radio" name="resposta5" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta6" value="correta">A<br>
        <input type="radio" name="resposta6" value="errada">B<br>
        <input type="radio" name="resposta6" value="errada">C<br>
        <input type="radio" name="resposta6" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta7" value="correta">A<br>
        <input type="radio" name="resposta7" value="errada">B<br>
        <input type="radio" name="resposta7" value="errada">C<br>
        <input type="radio" name="resposta7" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta7" value="correta">A<br>
        <input type="radio" name="resposta7" value="errada">B<br>
        <input type="radio" name="resposta7" value="errada">C<br>
        <input type="radio" name="resposta7" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta8" value="correta">A<br>
        <input type="radio" name="resposta8" value="errada">B<br>
        <input type="radio" name="resposta8" value="errada">C<br>
        <input type="radio" name="resposta8" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta9" value="correta">A<br>
        <input type="radio" name="resposta9" value="errada">B<br>
        <input type="radio" name="resposta9" value="errada">C<br>
        <input type="radio" name="resposta9" value="errada">D
    </div>

    <div id="pergunta">
        <input type="radio" name="resposta10" value="correta">A<br>
        <input type="radio" name="resposta10" value="errada">B<br>
        <input type="radio" name="resposta10" value="errada">C<br>
        <input type="radio" name="resposta10" value="errada">D
    </div>

    <div id="perguntaBtn">
        <btn class="waves-effect waves-light btn" href="login.html" id="btnFimLogin">Responder</btn>
    </div>

</div>