<div id="containerCardJogar">

    <p id="tituloCard">Jogos</p>

    <div class="card">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/overIcon.jpg">
        </div>

        <div class="card-content">
            <span class="card-title activator">Overwatch<i class="material-icons right">more_vert</i></span>

            <p>
                <a  href="#teste">Fazer quiz</a>
                <a class="btn-floating waves-effect waves-light blue light blue btn-small pulse modal-trigger" href="#teste"><i class="material-icons">keyboard_arrow_right</i></a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
            <p>Mais um jogo da gigante Blizzard. Este fps 6x6 ganhador do GOTY é baseado em personagens com aparências e habilidades únicas, qual o seu favorito?</p>
        </div>

    </div>

    <div class="card">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/r6Icon.jpg">
        </div>

        <div class="card-content">
            <span class="card-title activator">Rainbow six<i class="material-icons right">more_vert</i></span>
            <p>
                <a href="#teste">Fazer quiz</a>
                <a class="btn-floating waves-effect waves-light blue light blue btn-small pulse modal-trigger" href="#teste"><i class="material-icons">keyboard_arrow_right</i></a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
            <p>Este fps é mais um jogo da Ubisoft. O fps mais tático já feito na história é baseado em personbagens de diferentes polícias de diferentes países. Escolha o seu e vá para a batalha.</p>
        </div>

    </div>

</div>

<div id="containerJogar">

    <p id="tituloInfo">QUIZ</p>
    <p id="subTituloJogar">Selecione um dos jogos ao lado</p>

    <div id="teste" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Pergunta</h4>
            <p>1 - shfbshdbgshbgisbgbwguibgui?</p>
            <input type="radio" name="resposta" />A<br />
            <input type="radio" name="resposta" />B<br />
            <input type="radio" name="resposta" />C<br />
            <input type="radio" name="resposta" />D<br />

            <p>2 - shfbshdbgshbgisbgbwguibgui?</p>
            <input type="radio" name="resposta" />A<br />
            <input type="radio" name="resposta" />B<br />
            <input type="radio" name="resposta" />C<br />
            <input type="radio" name="resposta" />D<br />

            <p>3 - shfbshdbgshbgisbgbwguibgui?</p>
            <input type="radio" name="resposta" />A<br />
            <input type="radio" name="resposta" />B<br />
            <input type="radio" name="resposta" />C<br />
            <input type="radio" name="resposta" />D<br />

            <p>4 - shfbshdbgshbgisbgbwguibgui?</p>
            <input type="radio" name="resposta" />A<br />
            <input type="radio" name="resposta" />B<br />
            <input type="radio" name="resposta" />C<br />
            <input type="radio" name="resposta" />D<br />
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat">Próxima</a>
        </div>
    </div>

    @*<center>
            <div id="perguntaBtn">
                <btn class="waves-effect waves-light btn" href="login.html" id="btnFimLogin">Responder</btn>
            </div>
        </center>*@

</div>

<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>