<html>
<head>
    <link type="text/css" href="~/Content/master.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/javasCriptPP2.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="~/Home/Index" class="brand-logo center">
                <img src="~/imagens/QZ.png" width="37%">
            </a>
            <ul class="left hide-on-med-and-down">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Rankings/Index">Rankings</a></li>
                <li><a href="~/Jogar">Jogar</a></li>
                <li><a href="~/Pareto/Index">Pareto</a></li>
                <li><a href="~/Sobre/Index">Sobre</a></li>
            </ul>

            @{
                if (Session["usuarioLogado"] == null)
                {
                    <ul class="right hide-on-med-and-down">
                        <li><a class="waves-effect waves-light btn" href="~/Login/Index" id="btnHead">Logar</a></li>
                        <li><a class="waves-effect waves-light btn" href="~/Cadastro/Index" id="btnHead">Cadastrar</a></li>
                    </ul>
                }

                if (Session["usuarioLogado"] != null)
                {
                    pratica2.Models.usuario u = (pratica2.Models.usuario)Session["usuarioLogado"];

                    <ul class="right hide-on-med-and-down">               
                        <li>
                            <a class="waves-effect waves-light btn" href="~/Login/Index" id="btnHead">Olá, @u.Nome!</a>
                        </li>
                    </ul>
                }
             }

        </div>
    </nav>

   @RenderBody()
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Quyzou</h5>
                    <p class="grey-text text-lighten-4">Este lindo site de quizes sobre video-jogos <br> foi feito por Felipe Carisio e João Augusto.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Páginas</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="~/Home/Index">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="~/Rankings/Index">Rankings</a></li>
                        <li><a class="grey-text text-lighten-3" href="~/Jogar">Jogar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a href="https://twitter.com/carisio_">Felipe Carisio</a> e <a href="https://twitter.com/itsJohnssons">João Augusto</a>
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>

</body>
</html>