<div id="containerSobre">

    <center>
        <p id="tituloSobre">Sobre nós:</p>

        <br><br><br><br>

        <p id="textoSobre">O Quyzou é um site de, inicialmente, 
        quizes sobre alguns de nossos jogos favoritos e outros que, 
        posteriormente, vocês poderão pedir e recomendar para que adicionemos
        no site. Criado por Felipe Carisio e João Augusto, dois alunos do 
        <a href="https://cotuca.unicamp.br/cotuca/">COTUCA (Colégio técnico da Unicamp em Campinas)</a>,
        começou como um simples projeto e se tornou algo muito maior. Para entrar em contato conosco
        utilize os e-mails: cc18181@g.unicamp.com e cc18185@g.unicamp.com, ou nos chame no twitter: 
        <a href="https://twitter.com/carisio_">carisio_</a> e <a href="https://twitter.com/itsJohnssons">itsJohnssons</a>.
        Brevemente será adicionada uma página de reclamações, pedidos e ajuda para alguns problemas mais comuns.</p>

    </center>
</div>